<section class="card">
    <h6>{{comment_content}}</h6>
    <h6 style="font-weight: lighter; text-align: right;">{{user.username}} - <span style="font-style: italic;">{{comment_date}}</span></h6>
</section>