{{> post-content}}

{{#each comments as |comment|}}
{{> comment-details}}
{{/each}}

  {{! NEW POST FORM }}
  <div class="post-form">
    {{!-- <h2 class="page-title">NEW COMMENT</h2> --}}
    <form class="form login-form" data-id="{{id}}">
      <div class="form-group">
        <label for="newcomment-content" style="font-weight: bold">New Comment:</label>
        <input class="form-input" type="text" id="newcomment-content" />
      </div>
      <div class="form-group">
        <button id="newpost-submit" class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>

  <script src="../js/addComment.js"></script>